@import url('https://unpkg.com/bootstrap@5.2.0/dist/css/bootstrap.min.css');

.chat-container {
    padding: 20px;
}

#listOfMessages {
    padding: 10px;
}
.singleMessage {
    list-style: none;
    clear: both;
}
.singleMessage span {
    padding: 4px 10px;
    border-radius: 10px;
    max-width: 150px;
    float: left;
}
.singleMessage .sent {
    background-color: deepskyblue;
    color: white;
    float: right;
}
.singleMessage .received {
    background-color: gainsboro;
}
